<picture class="hero-container">
  <source media="(min-width: 1440px)" width="540" height="446"
      srcset="{{ikBaseURL}}/hero-desktop-540x446.jpeg">
  <img class="hero" ngSrc="hero-mobile-654x480.jpeg" ngSrcset="0.5x, 1x" width="654" height="480"
      priority alt="Three cheerful female colleagues working with their laptop.">
</picture>
<div class="main">
  <h1 class="title">Get <span class="keyword">insights</span> that help your business grow.</h1>
  <p class="body">
    Discover the benefits of data analytics and make better decisions regarding revenue,
    customer experience, and overall efficiency.
  </p>
  <dl class="list">
    <div>
      <dt>10k+</dt>
      <dd>companies</dd>
    </div>
    <div>
      <dt>314</dt>
      <dd>templates</dd>
    </div>
    <div>
      <dt>12M+</dt>
      <dd>queries</dd>
    </div>
  </dl>
</div>
